<div class="col-lg-4" ng-repeat="category in categories">
	<div class="panel panel-default">
	    <div class="panel-heading">
	    	<i ng-class="category.image" style="font-size: 40pt;float:right;"></i>
	    	<h2>{{category.title}}</h2></div>
	    <div class="panel-body">
	        <p>
	        	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	        	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	        	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	        </p>
	    </div>
        <div class="panel-footer mdi-material-lightgreen">
        	<div class="footer-button" ng-click="changePage(category.string)">
        		<span class="footer-button-text">

<a href="javascript:void(0)" class="btn btn-default btn-fab btn-raised mdi-action-info-outline"  style="background-color:#757575; color:white;"></a>

        		</span>
        	</div>
        </div>
	    
	</div>
</div>	
